.c-section--snow-layer {
    margin-top: -5vw;

   img {
       margin-bottom: -9vw;
       width: 100vw;
   }

   h3 {
       padding: 1rem;
       padding-top: 6vw;
       padding-bottom: 3vw;
   }
}

.c-section--christmas-banner {
    h3 {
        padding: 1rem;
    }
}