
.c-marker--video,
.c-marker--97, .c-marker--95, .c-marker--99, .c-marker--100, .c-marker--5,
.c-marker--photography  {
	margin-right: auto;
	margin-left: auto;
}

@media ( max-width: 599px ) {
	.c-marker--video,
	.c-marker--97, .c-marker--95, .c-marker--99, .c-marker--100, .c-marker--5,
	.c-marker--photography {
		margin-bottom: $--space-m;
		width: 64px;
		height: 64px;
	}
}

@media ( min-width: 600px ) {

	.c-marker--video {
		position: absolute;
		left: calc( 50% - 49px);
		z-index: $--z-index-6;
	}

	.c-marker--97, .c-marker--95, .c-marker--99, .c-marker--100, .c-marker--5 {
		position: absolute;
		width: 64px;
		height: 64px;
		left: calc( 50% - 32px);
		z-index: $--z-index-6;

	}

	.c-marker--photography {
		width: 80px;
		height: 80px;
	}

}

@media ( min-width: 900px ) {

	.c-marker--video {
		left: calc( 50% - 49px);
	}

	.c-marker--97, .c-marker--95, .c-marker--99, .c-marker--100, .c-marker--5 {
		width: 153px;
		height: 153px;
		left: calc( 50% - 76px);
	}



}
