// Classes to align things

.u-text-center {
	text-align: center !important;
}

.u-align-center {
	margin-left: auto;
	margin-right: auto;
}

.u-align-left {
	margin-right: auto;
}

.u-align-right {
	margin-left: auto;
}

.u-align-middle {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.u-align-bottom {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	flex: 1 0 auto;
}
